@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}

/* animation section*/

* {
  transition: all 0.5s ease;
  animation-duration: 0.5s; /* Slow down animations */
  /* animation-timing-function: ease; */
}

/* Nav bar animation ends */

body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
  width: 100%;
}

nav {
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-weight: bold;
  font-size: small;
  position: sticky;
  top: 5px;
  margin-bottom: 5px;
  width: inherit;
  z-index: 1000; /* Ensure nav stays on top of other content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  li {
    padding: 10px;
    border-radius: 1rem;
    background: transparent;
    box-shadow: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border: none;
    position: relative; /* Needed for positioning the ::after pseudo-element */

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 4px; /* Height of the bottom border */
      background-color: rgba(108, 3, 228, 0.404); /* The border color */
      transition: width 0.4s ease; /* Animation for the "train" effect */
    }

    &:hover::after {
      width: 100%; /* Full width on hover */
    }

    button {
      border-radius: 8px;
    }
  }
}

.register {
  background: rgb(226, 143, 221);
  background: linear-gradient(
    90deg,
    rgba(226, 143, 221, 1) 0%,
    rgba(202, 68, 247, 1) 66%
  );
}

#root {
  height: auto;
  width: 100%;

  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.singleProduct {
  background-color: white;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  transition: transform 0.5s ease, box-shadow 0.5s ease;

  &:hover {
    transform: scale(1.05); /* Slightly enlarges the div */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer; /* Adds a subtle shadow for the pop-out effect */
  }
}

button:active {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.homeIcon {
  width: 100%; /* or set specific width */
  height: 75px; /* or set specific height */
  /* object-fit: cover; */
}

img {
  border-radius: 5px;
}

.Cart table {
  border-spacing: 25px;
  box-shadow: 0 4px 20px 0 rgba(31, 38, 135, 0.185);
  text-align: center;
  border-radius: 5px;

  & th {
    padding: 1rem;
    text-align: center;
  }

  & td {
    text-align: center;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  & tr {
    border-bottom: 2px solid rgba(128, 128, 128, 0.486);

    &:hover {
      transform: scale(1.01);
    }
  }
}

.QuantityInput input {
  width: 40px;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  & input:hover {
    border: 1px gray solid;
  }
}

.CartSummery {
  width: 500px;
  height: auto;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.13);
  border-radius: 1rem;
}

.OrderSummery {
  display: grid;
  grid-template-columns: 4fr 1fr;

  & h2 {
    padding: 5px;
  }
}

#SlideShop {
  background: rgba(130, 4, 255, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@keyframes popupAnimation {
  from {
    transform: translateY(50px); /* Start 50px below */
    opacity: 0; /* Invisible at the start */
  }
  to {
    transform: translateY(0); /* End at the original position */
    opacity: 1; /* Fully visible */
  }
}

.animatePopup {
  animation: popupAnimation 0.8s ease forwards; /* 0.8s animation, ease effect */
}

.slideText {
  text-shadow: 4px 3px 4px rgba(5, 0, 0, 0.247);
  font-size: 45px;
  text-align: center;
  margin: 2rem;
  /* font-weight: bold; */
  /* -webkit-text-stroke-width: 1px; */
  color: white;
  text-shadow: 7px 6px 16px rgb(179, 56, 250);
}

.carousel {
  width: inherit;
  height: 750px;
  overflow: hidden;
}

/* All about the Best selling Items */
.BestSelling {
  margin-top: 4rem;
  width: 1400px;
  height: 450px;
  /* height: auto; */
  overflow: hidden;

  & .BestSlider {
    width: inherit;
    height: 80%;
    border: 1px solid black;
  }

  & .HeaderQuote {
    background: linear-gradient(90deg, #0071c5, #7d00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    position: relative;
    padding-left: 3rem; /* Adjust padding for the pseudo-element */
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 1rem;
    border-radius: 2px;
    height: 70px;
    align-items: center;

    /* Pseudo-element for gradient left border */
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 2rem;
      border-radius: 5px;
      height: 100%;
      background: linear-gradient(
        90deg,
        #0071c5,
        #7d00ff
      ); /* Intel Arc gradient */
      border-radius: 2px 0 0 2px; /* Match border radius */
    }
  }
}

/* Best Selling Pruducts Slide section */
.product-slide {
  width: inherit;

  /* background: rgba(28, 3, 250, 0.171); */

  background: linear-gradient(180deg, #0732f146, #7b00ff2d);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;

  color: black;
  width: 245px;
  height: auto;
  overflow: hidden;
  border-radius: 5px;
  position: relative; /* Added to position the button correctly */

  & img {
    width: inherit;
    height: 200px;
    object-fit: contain;
    border: 1px solid rgba(161, 113, 240, 0.55);
    background-color: white;
  }

  & div {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size: small;
    font-weight: bold;

    & p {
      color: rgba(0, 0, 0, 0.575);
    }
  }

  .add-to-cart-button {
    opacity: 0; /* Initially hidden */
    transform: translateY(20px); /* Start below the normal position */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transitions for both properties */
    margin-top: 10px; /* Optional: add some space above the button */
    border: none; /* Optional: remove default border */
    cursor: pointer; /* Change cursor to pointer */
  }

  &:hover .add-to-cart-button {
    opacity: 1; /* Show button on hover */
    transform: translateY(0); /* Move to original position */
  }

  &:hover button {
    padding: 5px;
    border-radius: 3px;
    color: white;
    background: linear-gradient(90deg, #0071c5, #7d00ff);
  }
}

/* Top categories producs section  */
.categoriesSlides {
  /* border: 1px solid #bdaeff; */
  overflow: hidden;
  width: inherit;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & .CatgoryHeader {
    background: linear-gradient(90deg, #0071c5, #7d00ff);
    padding-bottom: 3px;
    border-bottom: 3px solid #7d00ff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    /* position: relative; */
    padding-left: 3rem; /* Adjust padding for the pseudo-element */
    font-size: 40px;
    font-weight: bolder;
    /* margin-bottom: 1rem; */
    border-radius: 2px;
    height: 70px;
    width: inherit;
    text-align: center;
    align-items: center;
  }

  & .TopCtgr {
    width: inherit;
    height: 260px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center; /* Ensure spacing between the sliders */

    .swiper {
      & h1 {
        text-align: center;
        font-size: 30px;
        color: #7d00ff;
      }
      height: 200px;
      width: 300px;
    }

    .swiper-slide {
      height: 100%;
      width: 100%;
      /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

/* About Us section  */

#AboutUS {
  & .testimonials-section {
    width: 500px;
    height: 250px;
    border: #a466e76c 2px solid;
    border-radius: 1rem;

    & .ReviewSwiper {
      height: inherit;
      width: inherit;

      & SwiperSlide,
      p {
        height: inherit;
        width: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & img {
          width: 120px;
          width: 120px;
          object-fit: contain;
        }
      }

      & .stars {
        color: #a466e7; /* Purple color for the stars */
        font-size: 20px; /* Adjust size as needed */
      }
    }
  }

  & .gradient-text {
    background: linear-gradient(90deg, #0071c5, #7d00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    position: relative;
    /* padding-left: 2rem; */
    font-size: 40px;
    font-weight: bolder;
    margin: 1rem;
    height: 40px;
    align-items: center;
    text-align: center;
    border-radius: 2px 0 0 2px;
  }
}
/* Footer section  */
footer {
  padding-top: 1rem;
  box-shadow: 0 -8px 10px 0 rgba(80, 31, 137, 0.11);

  /* border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem; */
  height: 240px;
  width: inherit;
  display: grid;
  grid-template-columns: 2fr 4fr;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;

  & .footerLinks ul li {
    width: 200px;
  }

  & div {
    margin-top: 1rem;
    & link {
      display: flex;
      justify-content: flex-start;
    }
  }

  & ul {
    display: flex;
    flex-direction: row;
    gap: 5px;

    & li ul h1 {
      font-weight: bolder;
    }
  }

  .footerLinks {
    & li {
      margin-right: 1rem;
    }
    & h1 {
      font-weight: bolder;
    }
  }

  & .socialIcons li {
    font-size: larger;

    & Link:hover {
      color: #a466e7;
    }
  }

  & strong {
    font-size: larger;
  }
}
